<!DOCTYPE html>
<html>
<head>
    <title>Image Matching</title>
</head>
<body>
    <h1>Upload Dataset and Templates</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="dataset">Dataset:</label>
        <input type="file" name="dataset" multiple required><br><br>
<!--        <label for="templates">Templates:</label>-->
<!--        <input type="file" name="templates" multiple required><br><br> -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>
